
<mat-card>

  <div >
      <h1 class="text-light">Detalhes Heroi</h1>
  </div>

<div *ngIf="heroi">

<form  >


<div class="input-box">
  <mat-form-field>
    <mat-label>Nome:</mat-label>
   <input matInput type="text" class="form-control text-dark" value="{{heroi.nome}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Nome Heroi:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{heroi.nomeHeroi}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Data Nascimento:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{heroi.dataNascimento}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Peso:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{heroi.peso}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Altura:</mat-label>
    <input matInput type="text" class="form-control  text-dark" value="{{heroi.altura}}" disabled>
    </mat-form-field>
</div>

<!-- <div  class="input-box">
  <mat-form-field>
    <mat-label>Departamento:</mat-label>
    <input matInput type="text" class="form-control  text-dark" id="Livro" value="{{funcionario.departamento}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Turno:</mat-label>
    <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{funcionario.turno}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Situação:</mat-label>
    <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{funcionario.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
    </mat-form-field>
</div> -->


<!-- <div  class="input-box">
  <mat-form-field>
    <mat-label>Data de Criação:</mat-label>
    <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{funcionario.dataDeCriacao}}" disabled>
    </mat-form-field>
</div>

<div  class="input-box">
  <mat-form-field>
    <mat-label>Data de Alteração:</mat-label>
    <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{funcionario.dataDeAlteracao}}" disabled>
    </mat-form-field>
</div> -->



<div class="btn-box">
    <a  (click)="InativaHeroi()"  mat-raised-button color="warn">Inativar Heroi</a>
    <a  routerLink=""  mat-raised-button>Voltar</a>
</div>


</form>
</div>


</mat-card>
